<footer class="footer pt-0">
  <div class="bg-netural-100 pt-5xl pb-5xl pt-sm-0">
    <div class="container ">
      <div class="footer-list d-flex d-sm-block">
        <a href="./index.html" class="logo ">
          <span class="font-bold  position-relative">
            <span class="position-relative z-100">URBNSTEP</span>
            <div class="deco"></div>
          </span>
        </a>
        <ul class="d-flex d-sm-block">
          <li class="nav-item mr-2xl mb-sm-xxs">
            <a href="./products.html">
              商品列表
            </a>
          </li>
          <li class="nav-item">
            <a href="./brand-story.html">
              品牌故事
            </a>
          </li>
        </ul>
      </div>

      <div class="copy-right">
        <div>Copyright ©2025 URBNSTYLE</div>
        <div>All Rights Reserved.</div>
      </div>
    </div>
  </div>

</footer>