<nav class="nav">
  <div class="container">
    <div class="d-flex align-items-center flex-wrap justify-content-between ">
      <div class="d-flex  d-sm-content">
        <a href="./index.html" class="logo mr-3xl m-sm-s">
          <span class="position-relative">URBNSTEP
            <div class="deco"></div>
          </span>
        </a>
        <ul class="nav-items d-flex d-sm-none">
          <li class="nav-item mr-2xl product-list">
            <a href="../pages/products.html">
              商品列表
            </a>
          </li>
          <li class="nav-item brand-story">
            <a href="../pages/brand-story.html">
              品牌故事
            </a>
          </li>
        </ul>
      </div>
      <a class="log-in m-sm-s" href="../pages/log-in.html">
        <i class="bi bi-person"></i>
      </a>
    </div>
  </div>
</nav>