$spcing-xxs:4px;
$spcing-xs:8px;
$spcing-s:12px;
$spcing-m:16px;
$spcing-l:24px;
$spcing-xl:32px;
$spcing-2xl:40px;
$spcing-3xl:48px;
$spcing-4xl:56px;
$spcing-5xl:64px;
$spcing-6xl:80px;
$spcing-7xl:112px;
$spcing-8xl:128px;
