.header {
  background-image: url("/assets/images/brand-story/Hero\ Section.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 151px 0;
  text-align: center;
}

main {
  .container {
    width: 56%;
    margin: 0 auto;
    padding-top: 96px;
    .detail {
      width: 79%;
      margin: 0 auto;
      background-color: #f5fee7;
      padding: 32px;
      .content {
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 5%;
      }
    }
    .intro {
      padding: 0 110px;
    }
    .bi-arrow-up-right {
      color: #57a203;
    }
    .story:hover {
      .story-title,
      .bi-arrow-up-right {
        color: #477a11;
      }
    }
    .story-title {
      color: #57a203;
      padding-bottom: 4px;
      border-bottom: #57a203 solid 1px;
      display: inline;
    }
  }
}

.container-under {
  padding: 0 110px;
  .year {
    width: 38px;
    display: inline-block;
  }
  .timeline {
    margin-left: 20px;
    letter-spacing: 5%;
    list-style: disc;
  }
}
@include mobile{
  .header {
    background-image: url("/assets/images/brand-story/c7e2e0d7111d666be94562b6f4830973da8b0621\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 87px 0;
  }
  main {
    .container {
      width: 100%;
      padding: 32px 12px 0;
      .detail {
        box-sizing: border-box;
        padding: 24px;
        width: 100%;
        margin-right: 0;
      }
      .intro {
        padding: 0;
      }
    }
  }
  .container-under {
    padding: 0;
  }
}
