.product-show {
  width: 58%;
  .product-pics {
    flex-wrap: wrap;
    gap: 8px;
    .product-pic {
      width: 49%;
    }
  }
}
.info {
  max-width: 40%;
  .h1 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
  }
  .new-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #57a203;
    margin-right: 8px;
  }
  .old-price {
    font-size: 14px;
    color: #adb5bd;
    text-decoration: line-through;
  }
  .small-pic {
    box-sizing: border-box;
    width: 64px;
    margin-right: 8px;
    cursor: pointer;
    input:checked + label img {
      border: 1px #212529 solid;
    }
    input:checked + label div {
      color: #212529;
    }
    img {
      box-sizing: border-box;
      background: #f0f3f7;
    }
    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }
  .sizes {
    flex-wrap: wrap;
    gap: 8px;
    input:checked + label .size {
      box-sizing: border-box;
      border: 1px solid #212529;
    }
    .size-box {
      width: 45%;
      .size {
        box-sizing: border-box;
        padding: 12px 24px;
        border: #dee2e6 1px solid;
        border-radius: 4px;
        text-align: center;
        transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
      }
      .size:hover {
        border: solid 1px #6c757d;
        opacity: 1;
      }
      .size-active {
        border: #212529 1px solid;
      }
      .size-disabled {
        color: #adb5bd;
      }
      .size-disabled:hover {
        border: #dee2e6 1px solid;
      }
    }
  }
  .hint {
    color: #d74f4f;
    font-size: 14px;
  }
  .add-to-fav {
    padding: 12px 15%;
    border: #212529 1px solid;
    border-radius: 4px;
    background: white;
    font-weight: 500;
    font-size: 16px;
    margin-right: 8px;
    &:hover {
      background: #212529;
      color: white;
    }
    .bi-heart {
      font-size: 20px;
      margin-right: 2px;
    }
  }
  .try-on {
    font-weight: 500;
    font-size: 16px;
    background: #000;
    color: white;
    border: #212529 1px solid;
    border-radius: 4px;
    padding: 12px 12%;
    &:hover {
      background: #495057;
    }
    .bi-handbag {
      font-size: 20px;
      margin-right: 2px;
    }
  }
  .h3 {
    font-weight: 500;
  }
  .direction {
    color: #6c757d;
    padding-bottom: 12px;
    border-bottom: #dee2e6 1px solid;
  }
}
.other-products {
  .h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 24px;
    padding: 9.5px 0;
  }
  .products {
    gap: 24px;
    .card {
      &:hover {
        filter: brightness(1.08) contrast(0.95); /* 或更接近原圖的對比 */
        transition: filter 0.3s ease;
      }
      .product-img {
        background: #f1f3f7;
      }
      max-width: 100%;
      .type {
        font-weight: 700;
        line-height: 1.2;
      }
    }
  }
}

@include mobile {
  .other-products {
    .products {
      overflow-x: auto;
      .card {
        width: 300px;
      }
    }
  }
  .product-show {
    width: 100%;
    .product-pics {
      width: 100%;
      .product-pic {
        width: 100%;
      }
    }
  }
  .info {
    max-width: 100%;
    box-sizing: border-box;
  }
  .buttons {
    flex-direction: row-reverse;
    .try-on {
      width: 85%;
      margin-right: 8px;
    }
    .add-to-fav {
      box-sizing: border-box;
      width: 13%;
      padding: 12px;
      border: 0;
      margin-right: 0;
    }
  }
}
