<!DOCTYPE html>
<html lang="en">

<%- include("./layout/head") %>

  <body>
    <%- include('./layout/header-index') -%>

      <div class="banner mb-5xl">
        <h1 class="display-1 display-sm-2 neutral-0 mb-m mb-sm-xs">URBNSTEP</h1>
        <h3 class="h3 h5-sm neutral-0 mb-3xl mb-sm-xl">Your Step, Your Statement</h3>

        <button type="button" class="buy-button">立即選購</button>
      </div>

      <main class="new-products container ">
        <h2 class="display-2 text-center font-bold mb-s">New Arrival</h2>
        <h4 class="h2 text-center font-bold mb-xl">新品上市</h4>

        <ul class="d-flex cards mb-8xl mb-sm-2xl">
          <li class="card-item">
            <img class="mb-s" src="../assets/images/index/image 7.png" alt="new shoes">
            <h4 class="h font-bold">Monoverse</h4>
            <div class="font-medium">NT$3,600</div>
          </li>
          <li class="card-item">
            <img class="mb-s" src="../assets/images/index/image 7-1.png" alt="new shoes">
            <h4 class="h font-bold">Monoverse</h4>
            <div class="font-medium">NT$3,600</div>
          </li>
          <li class="card-item">
            <img class="mb-s" src="../assets/images/index/image 7-2.png" alt="new shoes">
            <h4 class="h font-bold">Monoverse</h4>
            <div class="font-medium">NT$3,600</div>
          </li>
          <li class="card-item">
            <img class="mb-s" src="../assets/images/index/image 7-3.png" alt="new shoes">
            <h4 class="h font-bold">Monoverse</h4>
            <div class="font-medium">NT$3,600</div>
          </li>
        </ul>

        <h2 class="h2 h4-sm font-bold mb-m ">熱銷補貨</h2>

        <ul class="d-flex restock mb-7xl mb-sm-5xl w-sm-100">
          <li class="restock-item position-relative">
            <div class="label position-absolute label-sm font-medium">人氣 No.1</div>
            <img src="../assets/images/index/image01.png" alt="hot shoes">
          </li>
          <li class="restock-item position-relative">
            <div class="label position-absolute label-sm font-medium">人氣 No.1</div>
            <img src="../assets/images/index/image 8.png" alt="hot shoes">
          </li>
          <li class="restock-item position-relative">
            <div class="label position-absolute label-sm font-medium">人氣 No.1</div>
            <img src="../assets/images/index/image.png" alt="hot shoes">
          </li>
          <li class="restock-item position-relative">
            <div class="label position-absolute label-sm font-medium">人氣 No.1</div>
            <img src="../assets/images/index/image03.png" alt="hot shoes">
          </li>
        </ul>

      </main>

      <div class="banner-second text-center position-relative mb-7xl mb-sm-5xl">
        <img class="star position-absolute" src="../assets/images/index/Star.png" alt="star">
        <img class="sparkle position-absolute" src="../assets/images/index/Sparkle.png" alt="sparkle">

        <ul class="d-flex indicators position-absolute">
          <li class="ind ind-active"></li>
          <li class="ind"></li>
          <li class="ind"></li>
          <li class="ind"></li>
          <li class="ind"></li>
        </ul>


        <h2 class="mb-m d-flex justify-content-center align-items-center">
          <span class="display-2 font-bold neutral-0 h2-sm">URBNSTEP&nbsp;</span>
          <br class="d-none d-sm-block">
          <span class="h1 font-bold text-primary-300 align-top">x</span>
          <br class="d-none d-sm-block ">
          <span class="display-2 font-bold neutral-0 h2-sm">&nbsp;Kevin Chen</span>
        </h2>
        <h3 class="h2 font-bold  neutral-0 mb-xl h5-sm m-sm-l">跨界聯名，限量發售</h3>
        <p class="paragraph-lg  neutral-500 mb-3xl mb-sm-xl">
          新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！
        </p>
        <button type="button" class="buy-button">立即選購</button>
      </div>

      <div class="container p-sm-s">
        <h2 class="h2 font-bold mb-m h4-sm">依系列選購</h2>
        <ul class="d-flex types mb-8xl mb-sm-80">
          <li class="type type-1 text-center">
            <h3 class="h3 neutral-0 font-bold mb-xs h6-sm">URBN RUNNER</h3>
            <h4 class="h4 neutral-0 font-bold h6-sm">慢跑系列</h4>
          </li>
          <li class="type type-2 text-center">
            <h3 class="h3 neutral-0 font-bold mb-xs h6-sm">STREETMODE</h3>
            <h4 class="h4 neutral-0 font-bold h6-sm">滑板系列</h4>
          </li>
          <li class="type type-3 text-center">
            <h3 class="h3 neutral-0 font-bold mb-xs h6-sm">CHUNK DISTRICT</h3>
            <h4 class="h4 neutral-0 font-bold h6-sm">厚底系列</h4>
          </li>
          <li class="type type-4 text-center">
            <h3 class="h3 neutral-0 font-bold mb-xs h6-sm">COLLAB ZONE</h3>
            <h4 class="h4 neutral-0 font-bold h6-sm">聯名企劃</h4>
          </li>

        </ul>

        <h2 class="h2 font-bold mb-m h4-sm">穿搭靈感</h2>
        <div class="showcase d-flex gap-xs mb-7xl mb-sm-2xl">
          <div class="w-66 d-sm-content">
            <div class="d-flex gap-xs mb-xs d-sm-content">
              <img class="w-25" src="../assets/images/index/img-3.png" alt="nice clothes">
              <img class="w-25" src="../assets/images/index/img-4.png" alt="nice clothes">
              <img class="w-25" src="../assets/images/index/img-5.png" alt="nice clothes">
              <img class="w-25" src="../assets/images/index/img-6.png" alt="nice clothes">
            </div>
            <div class="d-flex gap-xs d-sm-content">
              <img class="w-50" src="../assets/images/index/img-11.png" alt="nice clothes">
              <div class="d-flex flex-wrap gap-xs d-sm-content">
                <img class="w-50" src="../assets/images/index/img-3.png" alt="nice clothes">
                <img class="w-50" src="../assets/images/index/img-4.png" alt="nice clothes">
                <img class="w-50" src="../assets/images/index/img-5.png" alt="nice clothes">
                <img class="w-50" src="../assets/images/index/img-6.png" alt="nice clothes">
              </div>
            </div>
          </div>
          <div class="w-33 d-sm-content">
            <img src="../assets/images/index/img-10.png" class="mb-xs" alt="nice clothes">
            <div class="d-flex gap-xs d-sm-content">
              <img class="w-50" src="../assets/images/index/img-1.png" alt="nice clothes">
              <img class="w-50" src="../assets/images/index/img-2.png" alt="nice clothes">
            </div>
          </div>

        </div>

      </div>

      <%- include("./layout/footer") %>


        <script type="module" src="../main.js"></script>
  </body>

</html>